body {
    background-image: url("../images/paper.jpg");
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.logo-container {
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.logo-container img {
    display: block;
    margin: 0 auto;
    width: 65%;
    clip-path: inset(3px);
    border-radius: 25px;
}

.left-align {
    display: block;
    text-align: left;
    font-size: 20px;
    margin-left: 18%;
}

.button {
    margin-top: 5px;
    position: relative;
    bottom: 10px;
    right: 5px;
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
}

.button:hover {
    opacity: .8;
}

#watermark {
    bottom: 0;
    right: 0;
    position: fixed;
    opacity: .1;
    width: 100px;
}

/* Styles the words inside the logo
<span id = "title">By a non-graphic designer</span>
.logo-container span {
    position: absolute;
    z-index: 3;
    top: 52%;
    left: 47.5%;
    transform: translate(-50%, -60%);
    font-family:Helvetica, sans-serif;
    font-weight: bold;
    font-size:.7em;
    color: #c6c0b6;
    padding:1.5em;
} */