body {
    background-color: beige;
    font-family: Helvetica, sans-serif;
}

.logo-container {
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.logo-container img {
    display: block;
    margin: 0 auto;
    width: 75%;
}

.logo-container span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:Helvetica, sans-serif;
    font-size:2.5em;
    letter-spacing:0.2em;
    line-height:1.3em;
    color: #c6c0b6;
    padding:1.5em;
}

.centered {
    text-align: center;
    font-size: 25px;
}